{% set title = 'Catalogs' %}
{% extends 'page.html.twig' %}

{% block scripts %}
{{ parent() }}
{% if auth.is('admin') %}
<script>
var cells = document.querySelectorAll('.bgsu_common_table a[data-id');

Array.prototype.forEach.call(
    cells,
    function (element) {
        element.addEventListener('click', function (event) {
            var fields = [
                'id',
                'name',
                'url'
            ];

            fields.forEach(function(field) {
                var element = document.getElementById(field);

                element.value = event.target.dataset[field];
            });

            document.getElementById('name').focus();
            event.preventDefault();
        });
    }
);
</script>
{% endif %}
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="bgsu_common_list_breadcrumb">
        <li><a href="{{ url_for('index') }}">{{ settings.template.site }}</a></li><li aria-current="page">{{ title }}</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
{{ parent() }}

<table class="bgsu_common_table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>URL</th>
        </tr>
    </thead>
    <tbody>
{% for catalog in catalogs %}
        <tr>
            <td>
                <a{% if auth.is('admin') %} href="#"{% endif %} data-id="{{ catalog.id }}" data-name="{{ catalog.name }}" data-url="{{ catalog.url }}">{{ catalog.id }}</a>
            </td>
            <td>{{ catalog.name }}</td>
            <td><a href="{{ catalog.url }}">{{ catalog.url }}</a></td>
        </tr>
{% endfor %}
    </tbody>
</table>

{% if auth.is('admin') %}
<form method="post" action="{{ url_for('catalogs') }}" class="bgsu_common_form bgsu_common__screen">
    <h2>Manage Catalog</h2>
    <div class="bgsu_common_form_table">
        <div>
            <label for="id">ID:</label><br>
            <div><input type="text" id="id" name="id" size="8" maxlength="8"></div>
        </div>
        <div>
            <label for="name">Name:</label><br>
            <div><input type="text" id="name" name="name" size="64" maxlength="255"></div>
        </div>
        <div>
            <label for="name">URL:</label><br>
            <div><input type="url" id="url" name="url" size="64" maxlength="255"></div>
        </div>
    </div>
    <button type="submit" name="update" class="bgsu_common_button bgsu_common_button__arrow bgsu_common_button__primary">Update</button>
    <button type="submit" name="remove" class="bgsu_common_button bgsu_common_button__failure">Remove</button>
</form>
{% endif %}

{% endblock %}
