{% extends 'page.html.twig' %}

{% block content %}
{{ parent() }}

<h2>Current Holdings</h2>
<table class="bgsu_common_table">
<tbody>
<tr>
    <th rowspan="2">Bowling Green State University</th>
    <th>Local</th>
    <td class="bgsu_common__figure">{{ total_catalog['bgsu']|number_format }}</td>
    <td class="bgsu_common__figure">{{ (total_catalog['bgsu'] / total * 100)|round(1) }}%</td>
</tr>
<tr>
    <th>OHDEP</th>
    <td class="bgsu_common__figure">{{ total_location['ohdep']['odnw1']|number_format }}</td>
    <td class="bgsu_common__figure">{{ (total_location['ohdep']['odnw1'] / total * 100)|round(1) }}%</td>
</tr>
<tr>
    <th rowspan="2">University of Toledo</th>
    <th>Local</th>
    <td class="bgsu_common__figure">{{ total_catalog['ut']|number_format }}</td>
    <td class="bgsu_common__figure">{{ (total_catalog['ut'] / total * 100)|round(1) }}%</td>
</tr>
<tr>
    <th>OHDEP</th>
    <td class="bgsu_common__figure">{{ total_location['ohdep']['odnw2']|number_format }}</td>
    <td class="bgsu_common__figure">{{ (total_location['ohdep']['odnw2'] / total * 100)|round(1) }}%</td>
</tr>
<tr>
    <th colspan="2">OhioLINK Depository Keeper Copies</th>
    <td class="bgsu_common__figure">{{ (total_location['ohdep']['odnw3'] + total_location['ohdep']['odnwd'])|number_format }}</td>
    <td class="bgsu_common__figure">{{ ((total_location['ohdep']['odnw3'] + total_location['ohdep']['odnwd']) / total * 100)|round(1) }}%</td>
</tr>
</tbody>
<tfoot>
<tr>
    <th colspan="2">Total</th>
    <td class="bgsu_common__figure">{{ total|number_format }}</td>
    <td class="bgsu_common__figure">100%</td>
</tr>
</tfoot>
</table>
<p>As of <a href="{{ url_for('month') }}">{{ updated|date('F j, Y') }}</a>.</p>

{% endblock %}
