{% set title = date|date('F Y') %}
{% extends 'page.html.twig' %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="bgsu_common_list_breadcrumb">
        <li><a href="{{ url_for('index') }}">{{ settings.template.site }}</a></li><li><a href="{{ url_for('month') }}">Monthly Changes</a></li><li aria-current="page">{{ title }}</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="bgsu_common__narrow">
<table class="bgsu_common_table bgsu_common__full">
<tbody>
{% for catalog in catalogs %}
<tr>
    <th rowspan="3">{{ catalog.name }}</th>
{% for state in ['accession', 'deaccession', 'update'] %}
    <td>{{ state|title }}s</td>
    <td class="bgsu_common__figure">{{ total[catalog.id][state]|number_format }}</td>
</tr>
{% if not loop.last %}
<tr>
{% endif %}
{% endfor %}
{% endfor %}
</tbody>
</table>

{% include 'includes/dates.html.twig' %}
</div>

{% endblock %}
