{% set title = date|date('F Y') %}
{% extends 'page.html.twig' %}

{% block styles %}
{{ parent() }}
<style>
#content .narrow {
    display: inline-block;
}

#content .table td:last-child {
    text-align: right;
}

#content .table {
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}
</style>
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
<nav aria-label="breadcrumb">
    <ol class="list-breadcrumb">
        <li><a href="{{ url_for('index') }}">{{ settings.template.site }}</a></li><li><a href="{{ url_for('month') }}">Monthly Changes</a></li><li aria-current="page">{{ title }}</li>
    </ol>
</nav>

<div class="narrow">
<table class="table">
<tbody>
{% for catalog in catalogs %}
<tr>
    <th rowspan="3">{{ catalog.name }}</th>
{% for state in ['accession', 'deaccession', 'update'] %}
    <td>{{ state|title }}s</td>
    <td>{{ total[catalog.id][state]|number_format }}</td>
</tr>
{% if not loop.last %}
<tr>
{% endif %}
{% endfor %}
{% endfor %}
</tbody>
</table>

<nav class="nav-page" aria-label="pagination">
    <div>
        <a class="nav-page-first"{% if date_first < date %} href="?date={{ date_first|date('Y-m-d') }}"{% endif %}>First</a>
        <a class="nav-page-previous"{% if date_previous < date and date_previous >= date_first %} href="?date={{ date_previous|date('Y-m-d') }}"{% endif %}>Previous</a>
    </div>
    <div>
        <a class="nav-page-next"{% if date_next > date and date_next <= date_last %} href="?date={{ date_next|date('Y-m-d') }}"{% endif %}>Next</a>
        <a class="nav-page-last"{% if date_last > date %} href="?date={{ date_last|date('Y-m-d') }}"{% endif %}>Last</a>
    </div>
</nav>
</div>

{% endblock %}
