{% set title = (module ? 'Module ' ~ module ~ (side ? ' Side ' ~ side : '') : 'Shelves') %}
{% extends 'page.html.twig' %}

{% block styles %}
{{ parent() }}
{% if shelves %}
{% include 'includes/styles/trays.html.twig' %}
{% endif %}
{% endblock %}

{% block scripts %}
{{ parent() }}
{% if shelves %}
{% include 'includes/scripts/shelves.html.twig' %}
{% endif %}
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb" class="bgsu_common__screen">
    <ol class="bgsu_common_list_breadcrumb">
        <li><a href="{{ url_for('index') }}">{{ settings.template.site }}</a></li>{% if module %}<li><a href="{{ url_for('shelves') }}">Shelves</a></li>{% if side %}<li><a href="{{ url_for('shelves', {'module': module}) }}">Module {{ module }}</a></li><li aria-current="page">Side {{ side }}</li>{% else %}<li aria-current="page">Module {{ module }}</li>{% endif %}{% else %}<li aria-current="page">Shelves</li>{% endif %}
    </ol>
</nav>
{% endblock %}

{% block content %}
{{ parent() }}

{% if shelves %}
<div class="bgsu_common_sidebar">
<div>

<h2 class="bgsu_common__screen">Sections and Shelves</h2>

<table id="trays" class="trays bgsu_common__center bgsu_common__small">
    <thead>
        <tr>
            <th rowspan="2" colspan="2"></th>
            <th colspan="{{ sections|length + 1 }}">Sections</th>
        </tr>
        <tr>
{% for section in sections %}
            <th>{{ section }}</th>
{% endfor %}
            <th></th>
        </tr>
    </thead>
    <tbody>
{% for shelf in shelves|keys %}
        <tr>
{% if loop.first %}
            <th rowspan="{{ shelves|length + 1 }}"><span class="bgsu_common__rotate">Shelves</span></th>
{% endif %}
            <th>{{ shelf }}</th>
{% for section in sections %}
            <td class="tray"><a{% if auth.is('admin') %} href="#"{% endif %} data-section="{{ section }}" data-shelf="{{ shelf }}" data-tray-id="{{ shelves[shelf][section] ?: (missing[shelf][section] ? '?' : '') }}" title="Section {{ section }} Shelf {{ shelf }}{{ shelves[shelf][section] ? ': ' ~ trays[shelves[shelf][section]].name : (missing[shelf][section] ? ': ' ~ missing[shelf][section] ~ ' Item' ~ (missing[shelf][section] > 1 ? 's' : '') : '') }}">{{ shelves[shelf][section] ?: (missing[shelf][section] ? '?' : '&nbsp;') }}</a></td>
{% if loop.last %}
            <td class="tray"><a{% if auth.is('admin') %} href="#"{% endif %} data-section="{{ "%02d"|format(1 + section) }}" data-shelf="{{ shelf }}" data-tray-id="{{ missing[shelf][1 + section] ? '?' : '' }}" title="Section {{ "%02d"|format(1 + section) }} Shelf {{ shelf }}{{ missing[1 + section][shelf] ? ': ' ~ missing[shelf][1 + section] ~ ' Item' ~ (missing[shelf][1 + section] > 1 ? 's' : '') : '' }}">{{ missing[shelf][1 + section] ? '?' : '&nbsp;' }}</a></td>
{% endif %}
{% endfor %}
        </tr>
{% if loop.last %}
        <tr>
            <th></th>
{% for section in sections %}
            <td class="tray"><a{% if auth.is('admin') %} href="#"{% endif %} data-section="{{ section }}" data-shelf="{{ "%02d"|format(1 + shelf) }}" data-tray-id="{{ missing[1 + shelf][section] ? '?' : '' }}" title="Section {{ section }} Shelf {{ "%02d"|format(1 + shelf) }}{{ missing[section][1 + shelf] ? ': ' ~ missing[1 + shelf][section] ~ ' Item' ~ (missing[1 + shelf][section] > 1 ? 's' : '') : '' }}">{{ missing[1 + shelf][section] ? '?' : '&nbsp;' }}</a></td>
{% if loop.last %}
            <td class="tray"><a{% if auth.is('admin') %} href="#"{% endif %} data-section="{{ "%02d"|format(1 + section) }}" data-shelf="{{ "%02d"|format(1 + shelf) }}" data-tray-id="{{ missing[1 + shelf][1 + section] ? '?' : '' }}" title="Section {{ "%02d"|format(1 + section) }} Shelf {{ "%02d"|format(1 + shelf) }}{{ missing[1 + section][1 + shelf] ? ': ' ~ missing[1 + shelf][1 + section] ~ ' Item' ~ (missing[1 + shelf][1 + section] > 1 ? 's' : '') : '' }}">{{ missing[1 + shelf][1 + section] ? '?' : '&nbsp;' }}</a></td>
{% endif %}
{% endfor %}
        </tr>
{% endif %}
{% endfor %}
    </tbody>
</table>

{% if auth.is('admin') %}
<form method="post" action="{{ url_for('shelves') }}" class="bgsu_common__screen">
    <h3>Update Tray</h3>
    <input type="hidden" name="module" value="{{ module }}">
    <input type="hidden" name="side" value="{{ side }}">
    <ul class="bgsu_common_list_inline">
        <li>
            <label for="section">Section:</label>
            <select id="section" name="section">
{% for section in sections %}
                <option value="{{ section }}">{{ section }}</option>
{% if loop.last %}
                <option value="{{ "%02d"|format(1 + section) }}">{{ "%02d"|format(1 + section) }}</option>
{% endif %}
{% endfor %}
            </select>
        </li>
        <li>
            <label for="shelf">Shelf:</label>
            <select id="shelf" name="shelf">
{% for shelf in shelves|keys %}
                <option value="{{ shelf }}">{{ shelf }}</option>
{% if loop.last %}
                <option value="{{ "%02d"|format(1 + shelf) }}">{{ "%02d"|format(1 + shelf) }}</option>
{% endif %}
{% endfor %}
            </select>
        </li>
        <li>
            <label for="tray_id">Tray:</label>
            <select id="tray_id" name="tray_id">
                <option value=""></option>
{% for tray in trays %}
                <option value="{{ tray.id }}">{{ tray.id }}</option>
{% endfor %}
            </select>
        </li>
        <li>
            <input type="submit" value="Update" class="bgsu_common_button bgsu_common_button__small bgsu_common_button__primary">
        </li>
    </ul>
</form>
{% endif %}

</div>
<div class="bgsu_common_sidebar_left">
<div class="bgsu_common__screen">
{% endif %}

{% if modules %}
{% if not sides or shelves %}
<h2 class="bgsu_common_sidebar_title bgsu_common__title">Modules</h2>
<ul>
{% for value in modules %}
    <li{% if module == value %} aria-current="true"{% endif %}><a href="{{ url_for('shelves', {'module': value}) }}">Module {{ value }}</a></li>
{% endfor %}
</ul>
{% endif %}
{% else %}
<div class="bgsu_common_alert bgsu_common_alert__failure">
    No shelves are available.
</div>
{% endif %}

{% if sides %}
<h2 class="bgsu_common_sidebar_title bgsu_common__title">Sides</h2>
<ul>
{% for value in sides %}
    <li{% if side == value %} aria-current="true"{% endif %}><a href="{{ url_for('shelves', {'module': module, 'side': value}) }}">Side {{ value }}</a></li>
{% endfor %}
</ul>
{% endif %}

{% if shelves %}
<h2 class="bgsu_common_sidebar_title bgsu_common__title">Trays</h2>
</div>

<table class="bgsu_common_table bgsu_common_table__small bgsu_common__small trays">
{% for tray in trays %}
    <tr>
        <th class="tray"><span data-id="{{ tray.id }}">{{ tray.id }}</span></th>
        <td>{{ tray.name == tray.id ~ '-Size' ? tray.fractionName : tray.name }}</td>
    </tr>
{% endfor %}
    <tr>
        <th class="tray"><a data-id="?">?</a></th>
        <td><a href="{{ url_for('shelves/missing') }}">Has items but no tray type</a></td>
    </tr>
</table>

</div>
</div>
{% else %}
<h2>Trays</h2>
<ul>
<li><a href="{{ url_for('shelves/missing') }}">View items missing tray type</a></li>
</ul>

{% endif %}

{% endblock %}
