{% set title = date|date('F Y') %}
{% extends 'page.html.twig' %}

{% block scripts %}
{{ parent() }}

<script src="{{ bgsu_template_path }}chart.js"></script>
<script>
const options = {
    animation: {
        duration: 0,
    },
    elements: {
        arc: {
            borderWidth: 0,
        },
    },
    plugins: {
        legend: {
            display: false,
        },
        tooltip: {
            callbacks: {
                label: (context) => context.formattedValue + ' ft³',
            },
        },
    },
};

bgsu_chart.setup(
    document.querySelector('#chart canvas'),
    {
        type: 'doughnut',
        data: {
            labels: [
                'Free Space',
                'Used Space',
            ],
            datasets: [
                {
                    backgroundColor: [
                        '#CFD4DA',
                        '#6c757d',
                    ],
                    data: [
                        {{ total.freeSpace|round }},
                        {{ total.usedSpace|round }},
                    ],
                },
            ],
        },
        options: options,
    },
);

{% for type in ['used', 'free', 'total'] %}
bgsu_chart.setup(
    document.querySelector('#chart_{{ type }} canvas'),
    {
        type: 'doughnut',
        data: {
            labels: [
{% for space in spaces %}
                '{{ space.tray.name }} {{ type|capitalize }}',
{% endfor %}
            ],
            datasets: [
                {
                    backgroundColor: [
{% for space in spaces %}
                        '{{ space.tray.color }}',
{% endfor %}
                    ],
                    data: [
{% for space in spaces %}
                        {{ attribute(space, type)|round }},
{% endfor %}
                    ],
                },
            ],
        },
        options: options,
    },
);
{% endfor %}
</script>
{% endblock %}

{% block styles %}
{{ parent() }}
{% include 'includes/styles/trays.html.twig' %}

<style>
#charts td {
    border: none;
    text-align: center;
}

#charts div {
    height: 250px;
    width: 250px;
}
</style>
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb" class="bgsu_common__screen">
    <ol class="bgsu_common_list_breadcrumb">
        <li><a href="{{ url_for('index') }}">{{ settings.template.site }}</a></li><li><a href="{{ url_for('space') }}">Space Usage</a></li><li aria-current="page">{{ title }}</li>
    </ol>
</nav>
{% endblock %}

{% macro approx(number) %}
{% if number is not null %}
{{ number|number_format }} ft³
{% endif %}
{% endmacro %}

{% block content %}
{{ parent() }}

<table class="bgsu_common_table bgsu_common_table__separate trays">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
{% for type in ['used', 'free', 'total'] %}
            <th colspan="3" class="bgsu_common__center">{{ type|capitalize }}</th>
{% endfor %}
        </tr>
    </thead>
    <tbody>
{% for space in spaces %}
        <tr>
            <td class="tray"><span data-id="{{ space.tray.id }}">{{ space.tray.id }}</span></td>
            <td>{{ space.tray.name }}</td>
            <td class="bgsu_common__figure bgsu_common__join"><a{% if date == date_last %} href="{{ url_for('space/tray', {tray: space.tray.id, status: 'used'}) }}"{% endif %}>{{ space.used|number_format }}</a></td>
            <td>{{ space.levelName(space.used) }}</td>
            <td class="bgsu_common__figure">{{ _self.approx(space.usedSpace) }}</td>
            <td class="bgsu_common__figure bgsu_common__join"><a{% if date == date_last %} href="{{ url_for('space/tray', {tray: space.tray.id, status: 'free'}) }}"{% endif %}>{{ space.free|number_format }}</a></td>
            <td>{{ space.levelName(space.free) }}</td>
            <td class="bgsu_common__figure">{{ _self.approx(space.freeSpace) }}</td>
            <td class="bgsu_common__figure bgsu_common__join"><a{% if date == date_last %} href="{{ url_for('space/tray', {tray: space.tray.id}) }}"{% endif %}>{{ space.total|number_format }}</a></td>
            <td>{{ space.levelName(space.total) }}</td>
            <td class="bgsu_common__figure">{{ _self.approx(space.totalSpace) }}</td>
        </tr>
{% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <th>Combined</th>
            <td colspan="3" class="bgsu_common__figure"><strong>{{ _self.approx(total.usedSpace) }}</strong></td>
            <td colspan="3" class="bgsu_common__figure"><strong>{{ _self.approx(total.freeSpace) }}</strong></td>
            <td colspan="3" class="bgsu_common__figure"><strong>{{ _self.approx(total.totalSpace) }}</strong></td>
        </tr>
        <tr id="charts">
            <td colspan="2">
                <div id="chart" aria-labelledby="chart_label"><canvas></canvas></div>
                <p id="chart_label">Free and Used Space</p>
            </td>
{% for type in ['used', 'free', 'total'] %}
            <td colspan="3">
                <div id="chart_{{ type }}" aria-labelledby="chart_{{ type }}_label"><canvas></canvas></div>
                <p id="chart_{{ type }}_label">{{ type|capitalize }} Space by Type</p>
            </td>
{% endfor %}
    </tfoot>
</table>

{% include 'includes/dates.html.twig' %}

<p>Measurements shown in cubic feet are approximate.</p>
{% endblock %}
