{% set title = 'Trays' %}
{% extends 'page.html.twig' %}

{% block styles %}
{{ parent() }}
{% include 'styles/trays.html.twig' %}
{% endblock %}

{% block scripts %}
{{ parent() }}
{% if auth.is('admin') %}
<script>
document.querySelectorAll('#content .trays .tray > a').forEach((link) => {
    link.addEventListener('click', (event) => {
        const fields = [
            'id',
            'color',
            'name',
            'length',
            'width',
            'height',
            'pershelf',
            'total'
        ];

        fields.forEach((field) => {
            document.getElementById(field).value = event.target.dataset[field];
        });

        document.getElementById('name').focus();
        event.preventDefault();
    });
});
</script>
{% endif %}
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb" class="bgsu_common__screen">
    <ol class="bgsu_common_list_breadcrumb">
        <li><a href="{{ url_for('index') }}">{{ settings.template.site }}</a></li><li aria-current="page">Trays</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
{{ parent() }}

<table class="bgsu_common_table trays">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Length</th>
            <th>Width</th>
            <th>Height</th>
            <th>Per Shelf</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
{% for tray in trays %}
        <tr>
            <td class="tray"><a{% if auth.is('admin') %} href="#"{% endif %} data-id="{{ tray.id }}" data-color="{{ tray.color }}" data-name="{{ tray.name }}" data-length="{{ tray.length }}" data-width="{{ tray.width }}" data-height="{{ tray.height }}" data-pershelf="{{ tray.per_shelf }}" data-total="{{ tray.total }}">{{ tray.id }}</a></td>
{% if not tray.length and not tray.width and not tray.height %}
            <td colspan="4">{{ tray.name }}</td>
{% else %}
            <td>{{ tray.name }}</td>
            <td class="bgsu_common__figure">{{ tray.length ? tray.fractionLength : '' }}</td>
            <td class="bgsu_common__figure">{{ tray.width ? tray.fractionWidth : '' }}</td>
            <td class="bgsu_common__figure">{{ tray.height ? tray.fractionHeight : '' }}</td>
{% endif %}
            <td class="bgsu_common__figure">{{ tray.per_shelf }}</td>
            <td class="bgsu_common__figure">{{ tray.total ? tray.total|number_format : '' }}</td>
        </tr>
{% endfor %}
    </tbody>
</table>

{% if auth.is('admin') %}
<form method="post" action="{{ url_for('trays') }}" class="bgsu_common_form bgsu_common__screen">
    <h2>Manage Tray</h2>
    <div class="bgsu_common_form_table">
        <div>
            <label for="id">ID:</label>
            <div><input type="text" id="id" name="id" size="1" maxlength="1"></div>
        </div>
        <div>
            <label for="color">Color:</label>
            <div><input type="color" id="color" name="color" value="#ffffff"></div>
        </div>
        <div>
            <label for="name">Name:</label>
            <div><input type="text" id="name" name="name" size="20" maxlength="255"></div>
        </div>
        <div>
            <label for="length">Length:</label>
            <div><input type="number" id="length" name="length" min="0.125" max="999" step="0.125"> inches</div>
        </div>
        <div>
            <label for="width">Width:</label>
            <div><input type="number" id="width" name="width" min="0.125" max="999" step="0.125"> inches</div>
        </div>
        <div>
            <label for="height">Height:</label>
            <div><input type="number" id="height" name="height" min="0.125" max="999" step="0.125"> inches</div>
        </div>
        <div>
            <label for="pershelf">Per Shelf:</label>
            <div><input type="number" id="pershelf" name="per_shelf" min="1" max="99" step="1"></div>
        </div>
        <div>
            <label for="total">Total:</label>
            <div><input type="number" id="total" name="total" min="1" max="9999" step="1"></div>
        </div>
    </div>
    <button type="submit" name="update" class="bgsu_common_button bgsu_common_button__arrow bgsu_common_button__primary">Update</button>
    <button type="submit" name="remove" class="bgsu_common_button bgsu_common_button__failure">Remove</button>
</form>
{% endif %}

{% endblock %}
